@font-face {
    font-family: 'dana VF';
    src: url('../src/app/_assets/DanaVF.woff2') format('woff-variations');
    font-display: swap;
}

:root {
    --font-dana: 'dana VF' !important;
}

* {
    font-family: var(--font-dana) !important;
}

body {
    font-size: 14px;
}

.sb-show-main {
    direction: rtl;
}
